<nav class="navbar navbar-expand-lg  shadow p-3 mb-5 " style="background-color: rgba(234, 254, 255, 0.521);">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h3 class="" style="color: rgb(78, 160, 255); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> <strong> Miro's Cleaning </strong> </h3>
          </a>
      <button class="navbar-toggler " style="background-color: rgba(142, 200, 255, 0.404);" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        
            <li class="nav-item">
                <a class="nav-link "  aria-current="page" routerLink="/" href="#"><strong>Inicio</strong> </a>
              </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <strong>Servicios</strong> 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Limpieza básica</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">Limpieza Profunda</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Limpieza de oficina</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">limpieza en acabados de construcción</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop4">Limpieza y mantenimiento en edificios</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop5">Limpieza de alfombras, sillones y colchones</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop6">Servicio de handyman</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop7">Servicio De Supervisión y Mantenimiento</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link "  aria-current="page" routerLink="/nosotros"><strong>Quiénes somos</strong> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#" routerLink="/resultados"><strong>Resultados</strong> </a>
          </li>
        </ul>

            <a type="button" href="https://www.facebook.com/people/Miros-Cleaning-Service-panama/100086562755118/" class="btn btn-outline-primary"> <strong><i class="bi bi-facebook"></i> FaceBoock </strong> </a>&nbsp;
            <a type="button" href="https://wa.me/50761702020" class="btn btn-outline-success"><strong> <i class="bi bi-whatsapp"></i> WhatsApp </strong> </a>&nbsp;

      </div>
    </div>
  </nav>

  

  
  <!-- Modal 1-->
  <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Limpieza básica</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 740px; border-color: rgba(255, 255, 255, 0);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/basi.jpeg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Limpieza básica</h5>
                      <p class="card-text" style="text-align: justify;">Iniciamos nuestro servicio con una tarifa base de 30 balboas. Limpieza de la recámara, sala, comedor, baño y cocina, desinfección, almacenaje y detalles en la cama y baño.</p>
                      <p class="card-text"><small class="text-muted">(los precios varían dependiendo del tamaño de la propiedad)</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Contáctanos</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal 2 -->
  <div class="modal fade" id="staticBackdrop1"tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Limpieza profunda</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 740px; border-color: rgba(255, 255, 255, 0);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/pro.jpeg" style="height: 100%; " class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Limpieza profunda</h5>
                      <p class="card-text" style="text-align: justify;">El servicio incluye limpieza básica, nos enfocamos por completo en pequeños detalles, lugares y rincones difíciles como limpieza de refrigeradores y estufas y sus alrededores, limpieza de juntas de baño, deslizamiento de barandas del baño y la puerta del balcón, limpieza de ventanas, las ventanas, los muebles de cocina, las alacenas y los baños, el lavado de sábanas, toallas y todos los detalles relacionados con la propiedad.</p>
                      <p class="card-text"><small class="text-muted">se agrega limpieza a vapor para eliminar ácaros, gérmenes y bacterias a elección del cliente.</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Contáctanos</button>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Modal 3 -->
  <div class="modal fade" id="staticBackdrop2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Limpieza de oficinas</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 740px; border-color: rgba(255, 255, 255, 0);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/ofi.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Limpieza de oficinas</h5>
                      <p class="card-text" style="text-align: justify;">limpieza, organización y desinfección del espacio en general, incluido el baño si lo hubiere.
                        Se realiza limpieza a vapor para evitar el uso de productos químicos y la eliminación de gérmenes, bacterias y ácaros a elección del cliente.</p>
                      <p class="card-text"><small class="text-muted">(los precios varían dependiendo del tamaño de la propiedad).</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Contáctanos</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="modal fade" id="staticBackdrop3"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Limpieza en acabados de construcción</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 740px; border-color: rgba(255, 255, 255, 0);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/constru.jpg" style="height: 100%; " class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Limpieza en acabados de construcción</h5>
                      <p class="card-text" style="text-align: justify;">Brindamos el servicio de limpieza profunda y adecuada en obras terminaciones de obras y espacios en remodelación.</p>
                        <ul class="list-group list-group-flush list-group-numbered">
                            <li class="list-group-item">Limpieza de pisos.</li>
                            <li class="list-group-item">Limpieza de vidrios.</li>
                            <li class="list-group-item">Desinfección de baños, cocinas y lugares necesarios. </li>
                            <li class="list-group-item">Eliminación de residuos.</li>
                            <li class="list-group-item">Organización de área.</li>
                            <li class="list-group-item">Limpieza de polvos y desechos de construcción.</li>
                          </ul>
                        
                      <p class="card-text"><small class="text-muted">(los precios varían dependiendo del tamaño de la propiedad).</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Contáctanos</button>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Modal 4-->
  <div class="modal fade" id="staticBackdrop4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Limpieza y mantenimiento en edificios</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 740px; border-color: rgba(255, 255, 255, 0);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/edif.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Limpieza y mantenimiento en edificios</h5>
                      <p class="card-text" style="text-align: justify;">contamos con personal calificado e instruido en la limpieza, mantenimiento y adecuación de pisos, pasillos, escaleras, sótano, lobby, ascensores, área social y más, brindando así a las personas un ambiente limpio, ordenado y agradable para su comodidad.</p>
                      <p class="card-text"><small class="text-muted">(los precios varían dependiendo del tamaño de la propiedad)</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Contáctanos</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 5-->
  <div class="modal fade" id="staticBackdrop5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Limpieza de alfombras, sillones y colchones</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 740px; border-color: rgba(255, 255, 255, 0);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/colcho.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Limpieza de alfombras, sillones y colchones</h5>
                      <p class="card-text" style="text-align: justify;">Servicio de limpieza para alfombras, sillones y para una total limpieza y paz visual en su hogar.</p>
                      <p class="card-text"><small class="text-muted">(los precios varían dependiendo del tamaño de la propiedad)</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Contáctanos</button>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Modal 6-->
  <div class="modal fade" id="staticBackdrop6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Servicio de handyman</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 740px; border-color: rgba(255, 255, 255, 0);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/handy.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Servicio de handyman</h5>
                      <p class="card-text" style="text-align: justify;">Ofrecemos el servicio adicional de plomería, ebanistería, reparaciones en gypsum, baldosas pintura, disponibles para su servicio y comodidad.</p>
                      <p class="card-text"><small class="text-muted">(los precios varían dependiendo del tamaño de la propiedad)</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Contáctanos</button>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Modal 7-->
  <div class="modal fade" id="staticBackdrop7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Servicio De Supervisión y Mantenimiento</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 740px; border-color: rgba(255, 255, 255, 0);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/hand.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Servicio De Supervisión y Mantenimiento</h5>
                      <p class="card-text" style="text-align: justify;">Se ofrece el servicio de inventario de artículos del inmueble, supervisión de salidas y entradas de los huéspedes, lista de daños y reparaciones por hacer, observación que todo esté en orden para mantener informado al propietario.</p>
                      <p class="card-text"><small class="text-muted">(los precios varían dependiendo del tamaño de la propiedad)</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Contáctanos</button>
        </div>
      </div>
    </div>
  </div>


