<div class="container-fluid">


    <a type="button" href="https://wa.me/50761702020"  data-bs-custom-class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="WhatsApp me" class="btn btn-success btn-flotante" style="border-radius: 30px; "  ><strong> <i class="bi bi-whatsapp" style="font-size: 2rem;" ></i></strong> </a>
   
    <div class="container text-center"> 
        <div class="row justify-content-center">
            
          <div class="col-md-10 mt-2 mb-5">

           <div class="card mb-3" style="max-width: 840px; border-color: aquamarine; background-color: rgba(127, 255, 212, 0.123);">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="assets/images/ba.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title "  style="color: rgb(168, 219, 253); font-family: 'Carattere', cursive; text-shadow: -1px 1px 0 rgb(3, 104, 255),
        1px 1px 0 rgb(0, 119, 255),
       1px -1px 0 rgb(3, 61, 253),
      -1px -1px 0 rgb(2, 19, 255); "><strong> Quiénes somos </strong></h2>
        <p class="card-text" ><strong> Somos una empresa en crecimiento, fundada en el año 2020.
            Creada con la intención de simplificar la vida de aquellas personas que disfrutan el estar en un espacio limpio y agradable, pero debido al afán de estos tiempos les resulta difícil hacerlo ellos mismos. Obteniendo nosotros como empresa la recompensa de ser útiles a la sociedad al brindar entornos limpios, desinfectados y ordenados.
             </strong></p>
        <p class="card-text badge bg-primary text-wrap"><small class="text">WhatsApp: +507 6170-2020.</small></p>
      </div>
    </div>
  </div>
</div>
          </div>
      
          </div>
        </div>

        
    <div class="container text-center">
        <div class="row justify-content-center">
            
          <div class="col-md-10 mt-2 mb-5">

           <div class="card mb-3" style="max-width: 840px; border-color: aquamarine; background-color: rgba(127, 255, 212, 0.123);">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="assets/images/ba.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title "  style="color: rgb(168, 219, 253); font-family: 'Carattere', cursive; text-shadow: -1px 1px 0 rgb(3, 104, 255),
        1px 1px 0 rgb(0, 119, 255),
       1px -1px 0 rgb(3, 61, 253),
      -1px -1px 0 rgb(2, 19, 255); "><strong> Misión </strong></h2>
        <p class="card-text"><strong> En Miro's Cleaning Service, buscamos ser reconocidos por la calidad de nuestro trabajo y trato agradable a nuestros clientes.
            Para nosotros, limpieza, desinfección y orden es sinónimo de buena salud y paz mental, por eso nos esforzamos en ofrecer un entorno limpio y saludable aportando bienestar, tranquilidad y satisfacción a las personas que allí residen mediante la mejora continua de nuestros servicios y la eficiencia de los procesos.
              </strong></p>
        <p class="card-text badge bg-primary text-wrap"><small class="text">WhatsApp: +507 6170-2020.</small></p>
      </div>
    </div>
  </div>
</div>
          </div>
      
          </div>
        </div>
   
   
 <div>