<div class="container-fluid">


    <a type="button" href="https://wa.me/50761702020"  data-bs-custom-class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="WhatsApp me" class="btn btn-success btn-flotante" style="border-radius: 30px; "  ><strong> <i class="bi bi-whatsapp" style="font-size: 2rem;" ></i></strong> </a>
   
  

    <div class="container text-center">
        <div class="row justify-content-center">
            
          <div class="col-md-12 mt-2 mb-5">

            <div #demoYouTubePlayer class="col-md-10  mt-2 mb-4">
                <youtube-player 
                videoId="7ROAT_P2gIM" 
                suggestedQuality="highres"
                [width]="videoWidth" [height]="videoHeight"
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player>
            </div>
          </div>
      
          </div>
        </div>

        
    <div class="container text-center">
        <div class="row justify-content-center">
            
          <div class="col-md-12 mt-2 mb-5">

            <div #demoYouTubePlayer class="col-md-10  mt-2 mb-4">
                <youtube-player 
                videoId="n1j5-_K-r3w" 
                suggestedQuality="highres"
                [width]="videoWidth" [height]="videoHeight"
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player>
            </div>
          </div>
      
          </div>
        </div>

    </div>
        
            
