<div class="container-fluid">


    <a type="button" href="https://wa.me/50761702020"  data-bs-custom-class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="WhatsApp me" class="btn btn-success btn-flotante" style="border-radius: 30px; "  ><strong> <i class="bi bi-whatsapp" style="font-size: 2rem;" ></i></strong> </a>
   
    <div class="container text-center">
        <div class="row justify-content-center">
            
          <div class="col-md-12 mt-2 mb-5">

           <div class="card mb-3" style="max-width: 930px; border-color: aquamarine; background-color: rgba(127, 255, 212, 0.123);">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="assets/images/ba.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title " style="color: rgb(0, 68, 255);"><strong> Antes y el después </strong></h4>
        <p class="card-text" ><strong> En esta sección encontramos el antes y el después de cada uno de los trabajos realizados, dando por sentada nuestra experiencia y dedicación. </strong></p>
        <p class="card-text badge bg-primary text-wrap"><small class="text">WhatsApp: +507 6170-2020.</small></p>
      </div>
    </div>
  </div>
</div>
          </div>
      
          </div>
        </div>

    <div class="container text-center">
        <div class="row justify-content-center">
            
          <div class="col-md-12 mt-2 mb-3 ">

            <div #demoYouTubePlayer class="col-md-10  mt-2 mb-4 ">
                <youtube-player  class="shadow-sm"
                videoId="8yPs9uJ-g1Y" 
                suggestedQuality="highres"
                [width]="videoWidth" [height]="videoHeight"
               >
              </youtube-player>
            </div>
          </div>
      
          </div>
        </div>

        <div class="container text-center">
            <div class="row justify-content-center">
                
              <div class="col-md-12 mt-2 mb-3 ">
    
                <div #demoYouTubePlayer class="col-md-10  mt-2 mb-4 ">
                    <youtube-player  class="shadow-sm"
                    videoId="7ROAT_P2gIM" 
                    suggestedQuality="highres"
                    [width]="videoWidth" [height]="videoHeight"
                   >
                  </youtube-player>
                </div>
              </div>
          
              </div>
            </div>

        <div class="container text-center">
            <div class="row justify-content-center">
                
              <div class="col-md-12 mt-2 mb-3 ">
    
                <div #demoYouTubePlayer class="col-md-10  mt-2 mb-4 ">
                    <youtube-player  class="shadow-sm"
                    videoId="09dIUQPPF1U" 
                    suggestedQuality="highres"
                    [width]="videoWidth" [height]="videoHeight"
                   >
                  </youtube-player>
                </div>
              </div>
          
              </div>
            </div>

            <div class="container text-center">
                <div class="row justify-content-center">
                    
                  <div class="col-md-12 mt-2 mb-3 ">
        
                    <div #demoYouTubePlayer class="col-md-10  mt-2 mb-4 ">
                        <youtube-player  class="shadow-sm"
                        videoId="XiyN8pVwmXM" 
                        suggestedQuality="highres"
                        [width]="videoWidth" [height]="videoHeight"
                       >
                      </youtube-player>
                    </div>
                  </div>
              
                  </div>
                </div>

        
    <div class="container text-center">
        <div class="row justify-content-center">
            
          <div class="col-md-12 mt-2 mb-3">

            <div #demoYouTubePlayer class="col-md-10  mt-2 mb-4">
                <youtube-player 
                videoId="n1j5-_K-r3w" 
                suggestedQuality="highres"
                [width]="videoWidth" [height]="videoHeight"
               >
              </youtube-player>
            </div>
          </div>
      
          </div>
        </div>

    </div>
        
            
