
<div class="container-fluid">


    <a type="button" href="https://wa.me/50761702020"  data-bs-custom-class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="WhatsApp me" class="btn btn-success btn-flotante" style="border-radius: 30px; "  ><strong> <i class="bi bi-whatsapp" style="font-size: 2rem;" ></i></strong> </a>
    
  

    <div class="container text-center">
        <div class="row justify-content-center">
            
          <div class="col-md-8 mt-2 mb-5">

           <div class="card mb-3" style="max-width: 740px; border-color: aquamarine; background-color: rgba(127, 255, 212, 0.123);">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="assets/images/ba.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title " style="color: rgb(0, 68, 255);"><strong> Miro's Cleaning Services </strong></h4>
        <p class="card-text" style="color: rgb(4, 248, 134);"><strong> La empresa de limpieza diseñada para brindarte un excelente servicio al mejor precio </strong></p>
        <p class="card-text badge bg-primary text-wrap"><small class="text">WhatsApp: +507 6170-2020.</small></p>
      </div>
    </div>
  </div>
</div>
          </div>
      
          </div>
        </div>

    <div class="container text-center">
        <div class="row ">
          <div class="col-md-3  mt-2 mb-4">
            <div class="card " style=" max-width: 320px; background-color: rgba(255, 255, 255, 0); border-color: rgba(255, 255, 255, 0);">
                <img src="assets/images/basi.jpeg" class="card-img-top" alt="..."  style="border-radius: 35px ; height: 40vh;">
                <div class="">
                  <h5 class="card-title">Limpieza Básica</h5>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border-radius: 15px ;">Más detalles</a>
                </div>
              </div>
          </div>
          <div class="col-md-3  mt-2 mb-4">
            <div class="card " style=" max-width: 320px; background-color: rgba(255, 255, 255, 0); border-color: rgba(255, 255, 255, 0);">
                <img src="assets/images/pro.jpeg" class="card-img-top" alt="..." style="border-radius: 35px ; height: 40vh;">
                <div class="">
                  <h5 class="card-title">Limpieza profunda</h5>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" style="border-radius: 15px ;">Más detalles</a>
                </div>
              </div>
          </div>
          <div class="col-md-3  mt-2 mb-4">
            <div class="card " style=" max-width: 320px; background-color: rgba(255, 255, 255, 0); border-color: rgba(255, 255, 255, 0);">
                <img src="assets/images/ofi.jpg" class="card-img-top" alt="..." style="border-radius: 35px ; height: 40vh;">
                <div class="">
                  <h5 class="card-title">Limpieza de oficinas</h5>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" style="border-radius: 15px ;">Más detalles</a>
                </div>
              </div>
          </div>
          <div class="col-md-3  mt-2 mb-4">
            <div class="card " style=" max-width: 320px; background-color: rgba(255, 255, 255, 0); border-color: rgba(255, 255, 255, 0);">
                <img src="assets/images/constru.jpg" class="card-img-top" alt="..." style="border-radius: 35px ; height: 40vh;">
                <div class="">
                  <h5 class="card-title">limpieza en acabados</h5>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop3" style="border-radius: 15px ;">Más detalles</a>
                </div>
              </div>
          </div>
          <div class="col-md-3  mt-2 mb-4">
            <div class="card " style=" max-width: 320px; background-color: rgba(255, 255, 255, 0); border-color: rgba(255, 255, 255, 0);">
                <img src="assets/images/edif.jpg" class="card-img-top" alt="..." style="border-radius: 35px ; height: 40vh;">
                <div class="">
                  <h5 class="card-title">Limpieza y mantenimiento en edificios</h5>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop4" style="border-radius: 15px ;">Más detalles</a>
                </div>
              </div>
          </div>
          <div class="col-md-3  mt-2 mb-4">
            <div class="card " style=" max-width: 320px; background-color: rgba(255, 255, 255, 0); border-color: rgba(255, 255, 255, 0);">
                <img src="assets/images/colcho.jpg" class="card-img-top" alt="..." style="border-radius: 35px ; height: 40vh;">
                <div class="">
                  <h5 class="card-title">Limpieza de alfombras, sillones y colchones</h5>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop5" style="border-radius: 15px ;">Más detalles</a>
                </div>
              </div>
          </div>
          <div class="col-md-3  mt-2 mb-4">
            <div class="card " style=" max-width: 320px; background-color: rgba(255, 255, 255, 0); border-color: rgba(255, 255, 255, 0);">
                <img src="assets/images/handy.jpg" class="card-img-top" alt="..." style="border-radius: 35px ; height: 40vh;">
                <div class="">
                  <h5 class="card-title">Servicio de handyman</h5>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop6" style="border-radius: 15px ;">Más detalles</a>
                </div>
              </div>
          </div>
          <div class="col-md-3  mt-2 mb-4">
            <div class="card " style=" max-width: 320px; background-color: rgba(255, 255, 255, 0); border-color: rgba(255, 255, 255, 0);">
                <img src="assets/images/hand.jpg" class="card-img-top" alt="..." style="border-radius: 35px ; height: 40vh;">
                <div class="">
                  <h5 class="card-title">Servicio De Supervisión y Mantenimiento</h5>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop7" style="border-radius: 15px ;">Más detalles</a>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>

  
  
  <!-- Modal 1-->
  <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Limpieza básica</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 740px; border-color: rgba(255, 255, 255, 0);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/basi.jpeg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Limpieza básica</h5>
                      <p class="card-text" style="text-align: justify;">Iniciamos nuestro servicio con una tarifa base de 30 balboas. Limpieza de la recámara, sala, comedor, baño y cocina, desinfección, almacenaje y detalles en la cama y baño.</p>
                      <p class="card-text"><small class="text-muted">(los precios varían dependiendo del tamaño de la propiedad)</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Contáctanos</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal 2 -->
  <div class="modal fade" id="staticBackdrop1"tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Limpieza profunda</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 740px; border-color: rgba(255, 255, 255, 0);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/pro.jpeg" style="height: 100%; " class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Limpieza profunda</h5>
                      <p class="card-text" style="text-align: justify;">El servicio incluye limpieza básica, nos enfocamos por completo en pequeños detalles, lugares y rincones difíciles como limpieza de refrigeradores y estufas y sus alrededores, limpieza de juntas de baño, deslizamiento de barandas del baño y la puerta del balcón, limpieza de ventanas, las ventanas, los muebles de cocina, las alacenas y los baños, el lavado de sábanas, toallas y todos los detalles relacionados con la propiedad.</p>
                      <p class="card-text"><small class="text-muted">se agrega limpieza a vapor para eliminar ácaros, gérmenes y bacterias a elección del cliente.</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Contáctanos</button>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Modal 3 -->
  <div class="modal fade" id="staticBackdrop2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Limpieza de oficinas</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 740px; border-color: rgba(255, 255, 255, 0);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/ofi.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Limpieza de oficinas</h5>
                      <p class="card-text" style="text-align: justify;">limpieza, organización y desinfección del espacio en general, incluido el baño si lo hubiere.
                        Se realiza limpieza a vapor para evitar el uso de productos químicos y la eliminación de gérmenes, bacterias y ácaros a elección del cliente.</p>
                      <p class="card-text"><small class="text-muted">(los precios varían dependiendo del tamaño de la propiedad).</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Contáctanos</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="modal fade" id="staticBackdrop3"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Limpieza en acabados de construcción</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 740px; border-color: rgba(255, 255, 255, 0);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/constru.jpg" style="height: 100%; " class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Limpieza en acabados de construcción</h5>
                      <p class="card-text" style="text-align: justify;">Brindamos el servicio de limpieza profunda y adecuada en obras terminaciones de obras y espacios en remodelación.</p>
                        <ul class="list-group list-group-flush list-group-numbered">
                            <li class="list-group-item">Limpieza de pisos.</li>
                            <li class="list-group-item">Limpieza de vidrios.</li>
                            <li class="list-group-item">Desinfección de baños, cocinas y lugares necesarios. </li>
                            <li class="list-group-item">Eliminación de residuos.</li>
                            <li class="list-group-item">Organización de área.</li>
                            <li class="list-group-item">Limpieza de polvos y desechos de construcción.</li>
                          </ul>
                        
                      <p class="card-text"><small class="text-muted">(los precios varían dependiendo del tamaño de la propiedad).</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Contáctanos</button>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Modal 4-->
  <div class="modal fade" id="staticBackdrop4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Limpieza y mantenimiento en edificios</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 740px; border-color: rgba(255, 255, 255, 0);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/edif.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Limpieza y mantenimiento en edificios</h5>
                      <p class="card-text" style="text-align: justify;">contamos con personal calificado e instruido en la limpieza, mantenimiento y adecuación de pisos, pasillos, escaleras, sótano, lobby, ascensores, área social y más, brindando así a las personas un ambiente limpio, ordenado y agradable para su comodidad.</p>
                      <p class="card-text"><small class="text-muted">(los precios varían dependiendo del tamaño de la propiedad)</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Contáctanos</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 5-->
  <div class="modal fade" id="staticBackdrop5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Limpieza de alfombras, sillones y colchones</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 740px; border-color: rgba(255, 255, 255, 0);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/colcho.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Limpieza de alfombras, sillones y colchones</h5>
                      <p class="card-text" style="text-align: justify;">Servicio de limpieza para alfombras, sillones y para una total limpieza y paz visual en su hogar.</p>
                      <p class="card-text"><small class="text-muted">(los precios varían dependiendo del tamaño de la propiedad)</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Contáctanos</button>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Modal 6-->
  <div class="modal fade" id="staticBackdrop6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Servicio de handyman</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 740px; border-color: rgba(255, 255, 255, 0);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/handy.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Servicio de handyman</h5>
                      <p class="card-text" style="text-align: justify;">Ofrecemos el servicio adicional de plomería, ebanistería, reparaciones en gypsum, baldosas pintura, disponibles para su servicio y comodidad.</p>
                      <p class="card-text"><small class="text-muted">(los precios varían dependiendo del tamaño de la propiedad)</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Contáctanos</button>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Modal 7-->
  <div class="modal fade" id="staticBackdrop7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Servicio De Supervisión y Mantenimiento</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 740px; border-color: rgba(255, 255, 255, 0);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/hand.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Servicio De Supervisión y Mantenimiento</h5>
                      <p class="card-text" style="text-align: justify;">Se ofrece el servicio de inventario de artículos del inmueble, supervisión de salidas y entradas de los huéspedes, lista de daños y reparaciones por hacer, observación que todo esté en orden para mantener informado al propietario.</p>
                      <p class="card-text"><small class="text-muted">(los precios varían dependiendo del tamaño de la propiedad)</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Contáctanos</button>
        </div>
      </div>
    </div>
  </div>

 

 

